
.main-container{
    display:flex;
    gap:20px;
    height: 100vh; 
    justify-content: center;
    align-items: center; 
}
.cards{
    background-color: white;
    border-radius: 8px;
    width: 400px; 
}

.heading-container{
    padding: 40px 0 15px 18px;
    background-color:rgba(240, 248, 255, 0.151);
}
.img{
    border-radius: 50%; 
    width:160px;
}
.card-container{
    display:flex;
    flex-wrap: wrap; 
    gap: 2px;  
}
.paragraph-container, .footer-container,.image-container{
    padding: 20px;
}

.paragraph-container{
    flex:2;   
}
.heading{
    margin-bottom:10px;
}
.image-container{
    flex: 1;
}
.footer-container{
    display:flex;
    justify-content: space-between;
    background-color:aliceblue;
  
}
.click-here-button{
    background-color:wheat;
    border:0;
    margin-right: 20px;
    border-radius:10px;
    padding: 0 25px ;
    height:40px
}
