/* hero-section starts here */
/* .hero-section{
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    height:80vh;
    justify-items: center;
    align-items: center;
    gap:20px;
}
.hero-highlight{
    width: 100%;
    grid-column: 1;
    grid-row:1 / 3;
    height:100%;
    position:relative;
    grid-column: auto;
}
.hero-highlight .bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: 0;
    border: 0px;
    width: 100%;
    height: 100%;
}
.hero-highlight .bx-viewport {
    min-height: 100%;
}
.hero-highlight .bxslider {
    min-width: 100%;
    height: 100%;
}
.hero-highlight .bx-wrapper .bx-pager {
    text-align: center;
    font-size: .85em;
    font-family: Arial;
    font-weight: bold;
    color: #666;
    padding-top: 20px;
    margin-bottom: 60px;
}
.hero-highlight .bx-wrapper .bx-pager.bx-default-pager a {
    background: transparent;
    border: 1px solid white;
}
.hero-card{
    width:100%;
    height:100%;
    position:relative;
      
  
}
img{
    max-width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.5);
} */
/* .hero-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(61, 70, 77, 0.5); 
  z-index: 1;
} */
/* .hero-content{
    position: absolute;
    text-align: center;
    color: #fff;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.hero-image{
    object-fit: cover;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
    height: 100%; 
    width: 100%;
    
    
}
h1{
    font-size: 3rem;
    font-weight: 600;
} 
p{
text-align: center;
margin-bottom: 30px;
}

.first-offer{
    grid-column: 2;
    grid-row:1/2;
    background-image: url('../assets/images/offer-1.jpg');
}
.second-offer{
    grid-column: 2;
    grid-row:2/3;
    background-image: url('../assets/images/offer-2.jpg');
}
.first-offer,.second-offer{
    object-fit: cover;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
    height: 100%; 
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
}

.btn,.offer-btn{
    color:rgb(245, 243, 243);
    display:inline-block;
    padding:10px 20px; 
    background-color:transparent;
    border: 1px solid white; 
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease; 
}
h3{
    color:white;
}
.offer-btn{
    background-color: yellow;
    color:black;
} */
/* hero section ends here */



/* hero section starts here */
.hero-section {  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 30px;
  grid-auto-flow: row;
  grid-template-areas:
    "hero-carousel hero-carousel hero-offer-top"
    "hero-carousel hero-carousel hero-offer-bottom";
}
.hero-offer-top{
  background-image: url('../assets/images/offer-1.jpg');
  grid-area: hero-offer-top;
}
.hero-offer-bottom{
  grid-area: hero-offer-bottom;
  background-image: url('../assets/images/offer-2.jpg');
}

.hero-carousel { 
  grid-area: hero-carousel;
  width:100%;
  height:100%;
 }

.hero-offer-top ,.hero-offer-bottom, .hero-carousel{
  object-fit: cover;
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  position:relative;
  color:white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.offer-btn{
  color: black;
  background-color: #FFD333;
  border-color: #FFD333;
  padding: 8px 8px;
  margin-top: 20px;
}
h3{
  font-size: calc(1.1rem + 0.6vw);
}
h4{
font-weight: 600;
}
.hero-content{
  position: absolute;
}

/* hero section ends here */


/* strip section starts here */
.strip-heading{
    font-size:2rem;
    
}
.strip{
    display:flex;
    align-items: center;
    margin-bottom: 18px;
}
.strip-dot{
    flex:1;
    border-top: 1px dotted;
    margin-left: 10px;
}
/* strip section ends here */

/* featured products section starts here */
.featured-product{
    display:flex;
    gap:30px;
    justify-content: center;
    align-items: center; 
    justify-items: center;
    flex-wrap: wrap;
    

}
.product-card{
    
    display:flex;
    flex: 1 1 calc(25% - 23px); 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.product-heading{
    font-size: 1rem;
    align-items: center;
    font-weight: 600;
}

.checked {
    color: orange;
}
.product-price{
    display:flex;

    p{
        margin-top: 3px;
        font-size: 20px;
        font-weight: 600;
    }
    .strikethrough{
        color: #6c757d !important;
        margin-left:10px;
        margin-top:4px;
        text-decoration: line-through;
    }

}
.product-rating{
    margin-bottom: 10px;
}
/* featured product section ends here */

/* special offers section starts here */

.special-offer{
  width:100%;
 
}
.offer{
  display: flex;
  gap:20px;
}
/* special offers section ends here */

/* brand section starts here */
.brand{
    display:flex;
    gap:40px;
    overflow-x:hidden;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    width:100%; 
    img{
        width:20vh;
        height:20vh;
        scroll-snap-align: start;
    }
 
}

.bx-wrapper .bx-pager.bx-default-pager a.active{
    background: white;
}
.bx-wrapper {
    -moz-box-shadow: 0 ;
    -webkit-box-shadow: none; 
     box-shadow: 0; 
  ;
   
}
/* brand section ends here */

/* header section starts here */
 
.top-bar {
   
    font-size: 1rem;
    padding: 7px 0;
  }
   
  .top-bar-style {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
   
  .top-bar-right {
    display: flex;
    gap: 10px;
  }
   
  .top-bar ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 12px;
  }
   
  .top-bar li {
    text-decoration: none;
  }
   
  .top-bar-left select {
    border: none;
    background-color: white;
  }
   
  .main-header {
    background-color: #fff;
  }
   
  .main-header-style {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }


  .logo-container span {
    padding: 0px 10px;
  }
   
  .logo-container h1 {
    font-size: 2.2rem;
  }
  .logo-container span:nth-of-type(1) {
    color: #ffd333;
    background-color: #343a40;
  }
   
  .logo-container span:nth-of-type(2) {
    color: #343a40;
    background-color: #ffd333;
  }
   
  .search-container {
    display: flex;
    flex-direction: row;
  }
  .search-container input[type="text"] {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid rgb(202, 199, 199);
  }
   
  .search-container button {
    background-color: white;
    border: 1px solid rgb(202, 199, 199);
    padding: 8px 15px;
    cursor: pointer;
    border-left: none;
  }
   
  .customer-service {
    text-align: right;
  }
   
  .customer-service h3 {
    color: black;
  }
   
  /* navbar starts here */
  .navbar {
    background-color: #343a40;
  }
   
  .navbar-style {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
   
  .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
   
  .menu ul {
    color: white;
    display: flex;
    flex-direction: row;
  }
   
  .menu li {
    color: white;
    margin-left: 1rem;
  }
   
  .categories select {
    background-color: #ffd333;
    color: black;
    padding: 1.3rem 5rem;
    font-size: 1rem;
    outline: none;
  }
   
  .cart {
    position: relative;
  }
   
  .cart a {
    margin-right: 40px;
  }
   
  .badge {
    position: absolute;
    margin-top: 2px;
    padding: 3px 6px;
    border-radius: 50%;
    color: white;
    border: 1px solid #ffffff;
    font-size: 0.5rem;
    margin-left: 4px;
  }
   
  /* navbar ends  here */
   
  /* services starts here */
  .services {
    gap: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
   
  .service-icon {
    font-size: 36px;
    color: #ffd333;
  }
   
  .small-card {
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    text-align: center;
    flex-direction: row;
    gap: 15px;
   
    padding: 15px 20px;
  }
  /* services ends  here */
   
  /* strip */
  .strip-heading {
    font-size: 2rem;
  }
  .strip {
    display: flex;
    align-items: center;
  }
  .strip-dot {
    flex: 1;
    border-top: 1px dotted;
    margin-left: 10px;
  }
  /* strip ends here*/
   
  /* category section starts here  */
   
  .category {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 16px;
  }
   
  .category .small-card {
    padding: 0;
    gap: 0;
    width: calc(25% - 12px);
  }
   
  .category-image {
    height: 100px;
    width: 100px;
  }
   
  .category-image img {
    max-width: 100%;
    max-height: 100%;
  }
   
  .category-details {
    flex: 1;
    height: 100%;
    padding: 10px 15px;
    display: flex;
    align-items: start;
    flex-direction: column;
    text-align: left;
    justify-content: center;
  }
  /* category section ends here  */
   
  /* footer starts here */
   
  .footer {
    background-color: #343a40;
    padding: 60px 0px;
  }
   
  .footer-top {
    display: grid;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 0px;
    grid-template-columns: 37% 1fr 1fr 1fr;
  }
   
  .footer-cards {
    display: flex;
    flex-direction: column;
    text-wrap: wrap;
    color: white;
    gap: 5px;
  }
   
  .footer-cards i {
    padding: 0px 10px;
  }
  .footer-cards p {
    margin-bottom: 8px;
    text-align: left;
  }
  .footer-cards li + li {
    margin: 5px 0px;
  }
   
  .footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 0px;
  }
   
  .footer-bottom p {
    color: #f5f5f5;
  }
   
  .footer-details button {
    background-color: #ffd333;
    padding: 12px 10px;
  }
   
  .footer-details input[type="text"] {
    padding: 12px 15px;
  }
   
  .dash {
    display: flex;
    align-items: center;
  }
  .dash-style {
    flex: 1;
    border-top: 1px solid grey;
    margin: 0px 10px;
  }
   
  .footer-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
   
  .connect {
    display: flex;
    flex-direction: row;
  }
  /* footer ends here  */