@media(max-width: 1199.98px){
    .Carousel {
        display: grid;
        grid-template-columns: 1fr 5fr;
        grid-gap: 10px;
        overflow: hidden;
        height: 100vh;
    }
    
 }
 @media (max-width: 768.98px) {
    .Carousel {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
    }

    .gallery {
        grid-row: 1;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .nav_gallery {
        grid-row: 2;
        overflow-x: scroll;
        overflow-y: hidden;
        display: flex;
        flex-direction: row;
    }

    .nav_gallery a {
        height: auto;
        margin-bottom: 0;
        margin-right: 10px;
    }
}

